.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: var(--space-md);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.category {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  color: var(--colot-text-secondary);

  font-size: var(--font-size-small);
}

.expense {
  color: var(--color-danger-text);
}

.income {
  color: var(--color-success-text);
}
