.layout {
  min-height: 100vh;
  display: flex;
  background: var(--color-background);
}

.content {
  flex: 1;
  min-width: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* permet au contenu de rester correctement dimensionné lorsque la Sidebar est présente sur desktop */
}

.main {
  flex: 1;
  width: 100%;
  min-width: 0; /* évite que les pages dépassent horizontalement lorsque leur contenu est large */

  padding: var(--space-xl);

  display: flex;
  justify-content: center;
}

/* ---------------------------------------- */
/* Desktop */
/* ---------------------------------------- */

@media (min-width: 48.0625rem) {
  .main {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}

/* ---------------------------------------- */
/* Tablette / téléphone */
/* ---------------------------------------- */

@media (max-width: 48rem) {
  .layout {
    display: block;
  }

  .main {
    padding: var(--space-md);

    /*
      Laisse suffisamment d'espace
      pour la bottom navigation flottante.
    */
    padding-bottom: calc(
      var(--mobile-navigation-height) + var(--space-xl) + var(--space-md)
    );
  }
}
