.container {
  width: 100%; /* Le container prend toute la largeur dispo */
  max-width: 75rem;

  margin-inline: auto; /* Elle centre horizontalement.*/
  padding-inline: var(
    --space-md
  ); /* On ne colle jamais le contenu contre les bords.*/
}
